@font-face {
    font-family: 'myfontbold';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myfontblack';
    src: url('fonts/OpenSans-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: black;
    color: white;
    font-family: 'myfontbold';
}


.name {
    margin-top: 30px;
    display: flex; 
    justify-content: center;
    height: auto;
    font-size: 36px !important;

}


.about {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    border-style: groove;
    border-color: whitesmoke;
    margin: 45px 0 45px 0;
    border-radius: 20px;   
    box-shadow: 5px 5px 5px purple;
}

.about .dogpic{
    width: 50%;
    margin-left: 40px;
}

.about .dogpic img {
    width: 200px;
    border-radius: 20px;
}

.about .aboutme {
    margin-right: 30px;
    width: 50%;
}


.about .aboutme .gotcha {
    font-style: italic;
    margin-bottom: 20px;
}

.about .aboutme .why {
    font-size: 14px;
    margin-top: 10px;
}

.about .aboutme .whymore{
    margin-top: 20px;
    font-size: 16px;
    
}


.socials-container {
    display: flex;
    position: sticky;
    justify-content: center;
    justify-self: center;
    align-content: center;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border-color: white;
    border-width: 2px;
    border-style: groove;
    box-shadow: 3px 3px 20px;
}

.socials-container .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    height: 30px;
    width: 200px;
}


.socials-container .socials .social img {
    width: 30px;
    height: 30px;
}

.expertise{
    display: flex;
    align-self: center;
    align-content: center;
    justify-self: center;
}


