@font-face {
    src: url("fonts/Poppins-Regular.ttf");
    font-family: "main";
}

@font-face {
    src: url("fonts/Poppins-Black.ttf");
    font-family: "titles";
}

@font-face {
    src: url("fonts/Poppins-Bold.ttf");
    font-family: "subtitle";
}

body {
    margin: 0px;
    background-color: aliceblue;
    font-family: "main", sans-serif;
}

a {
    text-decoration: none;
}

a:link{
    color: blue;
}

a:visited {
    color: blue;
}

.name {
    width: 100%;
    height: 200px;
    background: url("images/background.jpg") center / cover no-repeat !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "titles";
}

.name .title {
    color: white;
    font-size: 82px;
    letter-spacing: 4px;
}

.whoiam {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-top: 30px;
    border-style: groove;
    width: 50%;
    border-color: transparent;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.whoiam .text {
    width: 60%;
}

.whoiam .doggypic{
    display: flex;
    padding: 5%;
    height: 100%;
    width: 40%;;
    justify-content: center;

}


.whoiam .doggypic img{
    width: 70%;
    height: 70%;
    background-color: olivedrab;
    border-radius: 20px;
}

.whoiam .info {
    color: purple;
    font-size: xx-large;
    font-weight: bold;
    font-family: "subtitle";
}

.whoiam .brief{
    font-size: 16px;
}


@media screen and (max-width: 1400px) {
    .whoiam {
        flex-direction: column;
    }
    .whoiam .text {
        width: 90%;
    }

    .whoiam .img {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .whoiam {
        width: 90%;
    }

    .name .title {
        font-size: 48px;
    } 
}